@media (max-width: 900px) {
  h1,
  .cta {
    letter-spacing: normal;
  }
  body {
    margin: 0;
    background-color: transparent;
  }
  h1,
  footer {
    display: none;
  }
  main {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }

  .grid {
    gap: 1em;
    padding: 1em;
    margin-top: 2em;
  }
  .grid .hotspot {
    margin-top: 2em;
  }

  .cta {
    top: 90%;
    left: 33%;
    padding: 1em 3em;
  }
}
