@media (max-width: 900px) {
  .cta {
    letter-spacing: normal;
  }
  body {
    margin: 0;
    background-color: transparent;
  }
  h1,
  footer {
    display: none;
  }
  main {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .pointer {
    left: 30%;
    top: 15%;
  }

  .grid {
    gap: 1em;
    padding: 1em;
  }
  .grid .hotspot {
    margin-top: 2em;
  }

  a {
    font-weight: 600;
  }

  .cta {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 3em;
  }
}
