body {
  font-family: "Montserrat", sans-serif;
  background-color: #222;
}
main {
  background-image: url("/images/img.jpg");
  max-width: 600px;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

h1,
.cta {
  letter-spacing: 0.05em;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 1em;
}
.grid {
  display: grid;
  gap: 2em;
  padding: 4em;
  /* Use repeat and 1fr for two columns */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  transform-origin: top left;
}
.grid img {
  max-width: 100%;
}

.grid .hotspot {
  background-color: #fff2;
  cursor: grabbing;
}

/* FIXME: https://stackoverflow.com/a/2906586 */
button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.cta {
  background: white;
  position: absolute;
  top: 75%;
  left: 45%;
  border: 1px solid black;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.pointer {
  color: #222;
  position: absolute;
  left: 40%;
  top: 25%;
  stroke-width: 1.5px;
}
footer {
  display: flex;
  justify-content: center;
}
footer svg {
  transition: color 0.5s ease-in-out;
}
footer svg.lucide {
  color: white;
  margin-top: 4em;
  margin-left: 1em;
  width: 3em;
  height: 3em;
  stroke-width: 1.5px;
}
footer svg.lucide:hover {
  color: #fff2;
}
footer a {
  text-decoration: none;
}
