body {
  background-color: #222;
}
main {
  background-image: url("/images/img.jpg");
  max-width: 600px;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-family: "Yeseva One", serif;
  color: white;
  text-align: center;
  margin-bottom: 24px;
}
.grid {
  display: grid;
  gap: 2em;
  padding: 4em;
  /* Use repeat and 1fr for two columns */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);

  transform-origin: top left;
}
.grid img {
  max-width: 100%;
}

.grid .hotspot {
  background-color: #fff5;
  cursor: grabbing;
}

main,
button,
.hotspot {
  border-radius: 6px;
}

/* FIXME: https://stackoverflow.com/a/2906586 */
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.cta {
  background: #fff5;
  position: absolute;
  bottom: 24px;
  left: 45%;
  border: 1px solid black;
  padding: 12px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
